*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dadada;
}
.cabecalho{
    background-color: #ffb81f;
    padding: 15px;
    text-align: center;
}
.logo, .menu{
    padding: 10px;
}
.logo{
    font-size: 1.5em;
    color: rgb(61, 61, 61);
}
.branco{
    color: #FFF;
}
a:link, a:visited{
    color: #FFF;
}
a:hover{
    background-color: #fff;
    color: #ffb81f;
}
a{
    text-decoration: none;
    padding: 12px 8px;
}