@font-face {
    font-family: ocr;
    src: url('OCR A Tribute W01 Light.otf') format('truetype'), url('OCR A Tribute W01 Light.ttf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI';
    background-color: #161616;
    margin: 0;
}
h1{
    font-size:40px;    
    color: #fff;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.cabecalho{
    background-color:#00FF8E;
    padding: 15px;
    margin: 0;
}
.animate{
    display: inline-block;
}
.sem{
    font-family: ocr;
    width: 525px;
    display: inline-block;
    margin-left: 35px;
}
#desc{
    font-size: 17px;
    text-transform: uppercase;
    border: 2px solid #252525;
    animation: pisca 5s infinite;
}
@keyframes pisca{
    5% { color: #252525; }
    10% { color: #252525; }
    15% { color: #00FF8E; }
    20% { color: #00FF8E; }
    25% { color: #252525; }
    30% { color: #252525; }
    35% { color: #00FF8E; }
    40% { color: #00FF8E; }
    45% { color: #252525; }
    50% { color: #252525; }
    55% { color: #00FF8E; }
    60% { color: #00FF8E; }
    65% { color: #252525; }
    70% { color: #252525; }
    75% { color: #00FF8E; }
    80% { color: #00FF8E; }
    85% { color: #252525; }
    90% { color: #252525; }
    95% { color: #00FF8E; }
    100% { color: #00FF8E; }

    /* 10% { color: #252525; }
    20% { color: #00FF8E; }
    40% { color: #252525; }
    60% { color: #00FF8E; }
    80% { color: #252525; }
    100% { color: #00FF8E; } */
}
.menu{
    padding: 10px;
}
.negrito{
    font-weight: 700;
}
a:hover{
    background-color: #252525;
    color: #00FF8E;
    transition: ease 0.3s;
}
.cabecalho a:link, .cabecalho a:visited{
    padding: 4px 9px;
}
.cabecalho a:hover{
    background-color: #252525;
    padding: 4px 9px;
}
a{
    text-decoration: none;
    color: #252525;
}
.box{
    width: 160px;
    height: 155px;
    border-radius: 7px;
    border: 1px solid #2f8cfe96;
    background-color: #041B39;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 8px;
    padding: 20px;

}
.box:hover{
    transform: translateY(-10px);
    transition: ease-out 0.3s;
    border: 1px solid #2fbcfe;
}
/* @keyframes float{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
} */
.container{
    color: #fff;
    width:650px;
    margin: auto;
}
.escola{
    font-family: ocr;
    font-size: 0.8em;
    display: block;
    text-transform: none;
}
.underline{
    text-decoration: underline;
}
.cor1{
    color: #08c570;
    font-weight: 750;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 10px;
}
.cor2{
    color: #2ad4f1;
    font-weight: 750;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 10px;
}
.cor3{
    color: #9BD23A;
    font-weight: 750;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 10px;
}
.cor4{
    color: #F06064;
    font-weight: 750;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 10px;
}
.cor5{
    color: #DB6DBD;
    font-weight: 750;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 10px;
}
.cor6{
    color: #FEB905;
    font-weight: 750;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 10px;
}
#front{
    font-size: 13px;
}
.icon1{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color:#00ff8c3f;
    margin-bottom: 15px;
}
.icon2{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color:  #2ad3f14b;
    margin-bottom: 15px;
}
.icon3{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #9ad23a3d;
    margin-bottom: 15px;
}
.icon4{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #f0606538;
    margin-bottom: 15px;
}
.icon5{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #db6dbe49;
    margin-bottom: 15px;
}
.icon6{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #feb7053a;
    margin-bottom: 15px;
}