ul{
    margin: 0;
    padding: 0;
    list-style: none; 
    float: left;
    width: 720px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul li{
    padding: 10px; 
    float: left;
}

li a{
    display: block;
    padding: 0 2em;
}
ul a{
    display: block;
    line-height: 2em;
    text-decoration: none;
    color: #582300;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}