*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: Helvetica, sans-serif;
}
.topo{
    background: #2A3348;
    height: 80px;
    border-bottom: 3px solid #EA4244;
    text-align: center;
    position: fixed;
    width: 100%;
}
.topo img{
    float: left;
    width: 200px;
    padding: 10px;
    margin-left: 200px;
}
.topo li{
    list-style: none;
    color: #fff;
    display: inline-block;
    padding: 17px 0px 0px 0px;
    line-height: 3.7em;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    border-top: 3px solid #f8734300;
    margin: 0px 0px 0px 15px;
    height: 80px;
    letter-spacing: 1px;
}
.topo li:hover{
    border-top: 3px solid #F87343;
    color: #F87343;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.topo div#topo-num{
    border-top: 3px solid #f8734300;
    color: #FF893C;
    width: 200px;
    height: 80px;
    line-height: 200%;
    font-size: 0.7em;
    float: right;
    letter-spacing: 3px;
    /* background-color: #ffd1d1; */
    margin-right: 210px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 12px ;
}

.topo div#topo-num:hover{
    border-top: 3px solid #F87343;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

#num{
    font-size: 19px;
    letter-spacing: 1.5px;
}

#ultimo{
    margin-right: -150px;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #2A3348;
}

.pag-principal{
    margin-top: 85px;
    width: 100%;
    height: 90vh;
    background: #2A3348;
    color: #FF8933;
    /* border: 1px solid rgb(30, 255, 0); */
}
.conteudo-principal {
    height: 60%;
    margin-left: 160px;
    margin-top: 0px;
    padding: 0px 50px 0px 50px;
    /* border: 1px solid red; */
    width: 27.8%;
    float: left;
    list-style: none;
}
.conteudo-principal li img{
    border: 1px solid red;
}
.conteudo-principal h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2em;
    letter-spacing: 2px;
}

.conteudo-principal p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    padding: 20px 0px 0px 0px;
    line-height: 1.4em;
}
.conteudo-principal .submit{
    width: 100%;
    background-color:#EE8C3C;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    height: 40px;
    margin-top: 20px;
    font-weight: 900;
}
.conteudo-principal .submit:hover{
    color: #2A3348;
    transition: 0.5s;
}
.clear{
    clear: both;
    background-color: #EA4244;
}
.linha{
    padding-top: 86px;
    width: 68vw;
    background-color: #EE8C3C;
    border-radius: 2px;
    margin: auto;
}
#img-principal{
    margin-top: -20px;
    padding: 0px 20px 20px 46px;
}
.linha2{
    margin-top: 20px;
    height: 3px;
    width: 54%;
    background-color: #EE8C3C;
    border-radius: 5px;
}

.cursos{
    background: #F2F2F2;
    color: #2A3348;
    text-align: center;
    height: 100vh; 
    padding: 8%;
}

.cursos h1{
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #182249;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
   
}

.linha3{
    background: #EE8C3C;
    height: 3px;
    width: 170px;
    margin: auto;
    border-radius: 5px;
}

.cursos p{
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    color: #30435e;
    padding: 15px 120px 15px 120px;
}

#bold{
    font-weight: 700;
}

.cursos-lista{
    background: #fff;
    border-radius: 10px;
    width: 83%;
    height: 90vh;
    margin: auto;
}
.cursos ul{
    padding: 40px;
    float: left;
    text-align: left;
    list-style: none;
    font-family: "Rubik";
    font-weight: 400;
    width: 43%;
    margin-right: -40px;
    
}

.cursos li{
    line-height: 22px;
    font-size: 16px;
    border-bottom: 1px solid #182249;
    padding: 10px;
}

.cursos li a{
    color: #30435e;
    text-decoration: none;
}   

.cursos li a#primeiro{
    color: #0000ff;
    text-decoration: underline;
}

.cursos li a:hover{
    color: #ff8933;
}

span.novo{
    background-color: #ff8933;
    color: #fff;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 400;
}